{% extends "layout.html" %}
{% block body %}

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="container mt-4">
        <div class="row">
        <div class="alert alert-{{category}} alert-dismissible fade show mb-3" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="p-3 p-md-5 m-md-3 mt-md-0 text-center">
        <div class="col-md-5 p-lg-5 pt-0 mx-auto my-5">
            <h1 class="display-4 fw-normal">Todo</h1>
            <p class="lead fw-normal">Todo is a task management tool to help you stay organized and manage your
                day-to-day. Todo makes it easy to stay organized and manage your life.</p>
            <a class="btn btn-outline-dark" href="/signup">Create Account</a>
            <a class="btn btn-outline-dark" href="/login">Login</a>
        </div>
    </div>

            <div class="my-3 py-3 text-center">
                <h2 class="display-5">Focus on important things</h2>
                <p class="lead">At home, at work and in your free time - you will focus on really important things!                     Todo is powerful in its simplicity and convenience of use.</p>

            
        </div>
            <div class="my-3 p-3 text-center">
                <h2 class="display-5">Increase productivity</h2>
                <p class="lead">Todo makes it easy to keep track of everything you have to get done — so you can
                    focus on being productive.</p>
            </div>

        <div class="mt-3 mb-5 p-3 text-center">
                <h2 class="display-5">Simple and Efficient</h2>
                <p class="lead">Todo is simple and awesome website to organize your tasks with very easy to use
                    interface.</p>
        </div>

</main>
{% endblock body %}